name: Render Handbook in HTML
on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  bookdown:
    name: Render-Book
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Install rmarkdown
        run: |
          R -e 'install.packages("renv")'
          # R -e 'renv::restore()' #Rscript -e 'install.packages(c("rmarkdown","bookdown"))'
      - name: Render Book
        run: |
          ls -al
          cd ./dev
          Rscript ./bd_render.r #-e 'bookdown::render_book("index.Rmd")'
      - uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/
